<div>
  <h3>Productos</h3>
  <mat-form-field
    class="example-full-width"
    appearance="fill"
    style="padding: 8px; margin: 15px auto; width: 30%"
  >
    <mat-label>Buscar producto </mat-label>
    <input
      matInput
      placeholder="Buscar producto"
      (keyup)="updateFilter($event)"
    />
  </mat-form-field>
  <ngx-datatable
    class="material"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    rowHeight="auto"
    [limit]="10"
    
  >
  </ngx-datatable>
  <ng-template #hdrTpl let-column="column">
    <strong></strong>: {{ column.name }}
  </ng-template>
  <ng-template #editTmpl let-row="row" let-column="column" let-value="value">
    {{ value }}
  </ng-template>
  <ng-template #detalle let-row="row" let-column="column" let-value="value">
    <button mat-fab color="primary"  (click) = "detalleProducto(row)">
      <!-- routerLink="/detalle/{{ row.id }} " -->
      <mat-icon>favorite</mat-icon>
    </button>
  </ng-template>
  <ng-template #borr let-row="row" let-column="column" let-value="value">
    <button mat-fab color="warn" (click)="borrar(row.id)">
      <mat-icon> delete </mat-icon>
    </button>
  </ng-template>
  <ng-template #editar let-row="row" let-column="column" let-value="value">
    <button mat-fab color="accent" routerLink="/editar/{{ row.id }}">
      <mat-icon> edit </mat-icon>
    </button>
  
  </ng-template>
 
</div>
<button *ngIf="isAdmin" mat-stroked-button color="primary" (click)="crearProducto()"  style="margin-top: 10px; margin-left:96%;">
  <mat-icon> add </mat-icon>
</button>