
<form (ngSubmit)="onCreate()" novalidate #f="ngForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Titulo"
      matInput
      type="number"
      id="precio"
      name="precio"
      [(ngModel)]="precio"
      required
      placeholder="Ex. 1000$"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      rows="3"
      matInput
      type="text"
      name="nombre"
      id="nombre"
      class="form-control"
      [(ngModel)]="nombre" 
      required
      placeholder="Ex. papa"
    >
  </mat-form-field>
  <button mat-raised-button color="primary" >
    Crear
  </button>
  <button type="button" mat-raised-button color="warn" (click)="onNoClick()">
    Cancelar
  </button>
</form>
