.contenedor
{
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.contenedor .hijo 
{
  width: 100px;
  height: 100px;
  background-color: red;
}

.contenedor .hijo1
{
  width: 100px;
  height: 100px;
  background-color: green;
}