<!-- si esta loggeado entra si no no  -->
<div class="text-center" *ngIf="isLogged; else loggedOut">
  <h2>Ya has iniciado sesión</h2>
</div>
<!-- si no esta logueado se reemplaza y se pone todo esto  -->

<ng-template #loggedOut>
  <mat-card>
    <br/>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form class="example-form" #f="ngForm" (ngSubmit)="onLogin()" novalidate>
        <mat-form-field class="example-full-width">
          <mat-label for="nombreUsuario">Nombre de usuario </mat-label>
          <input
            matInput
            type="text"
            name="nombreUsuario"
            id="nombreUsuario"
            class="form-control"
            [(ngModel)]="nombreUsuario"
            required
            placeholder="Ex. user"
          />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label for="password">password </mat-label>
          <input
            matInput
            type="password"
            name="password"
            id="password"
            class="form-control"
            [(ngModel)]="password"
            required
            placeholder="Ex. 123"
          />
        </mat-form-field>
        <button
          class="btn btn-outline-success btn-block"
          [disabled]="!f.valid"
          mat-raised-button
          color="primary"
        >
          {{ "Enviar" | uppercase }}
        </button>
        <mat-button-toggle-group
          name="fontStyle"
          aria-label="Font Style"
          class="cambiobtn"
        >
          <mat-button-toggle routerLink="/registro" value="italic"
            >Crear Cuenta</mat-button-toggle
          >
        </mat-button-toggle-group>
      </form>
    </mat-card-content>
  </mat-card>
</ng-template>
