<div class="form-group">
  <label>Elige una opcion </label>
  <select
    class="form-control"
    name="miselect"
    [(ngModel)]="seleccionado"
    (ngModelChange)="elegirtipodebusqueda($event)"
  >
    <option [value]="indice" *ngFor="let item of lista; let indice = index">
      {{ item }}
    </option>
  </select>
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-primary" (click)="cambiarValor(-1)" type="button">
          <i class="fa fa-minus"></i>
      </button>
    </span>
    <input
      type="number"
      class="form-control"
      placeholder="Progreso"
      [(ngModel)]="progreso1"
      disabled
    />
    <span class="input-group-btn">
      <button class="btn btn-success" type="button" (click)="cambiarValor(1)">
          <i class="fa fa-plus"></i>
      </button>
    </span>
  </div>
</div>
<app-mensaje *ngIf="noExiste" [titulo]="mensaje"></app-mensaje>
<app-targetpelis
  *ngIf="!noExiste"
  [peliculas]="peliculasPopulares"
></app-targetpelis>


